In [7]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window

In [8]:
spark_sess= SparkSession.builder.appName("Cumulative_Windows").getOrCreate()
df_spark = spark_sess.read.csv("train.csv", header=True, inferSchema=True)
windowSpec = Window.partitionBy('Store').orderBy('Date').rowsBetween(Window.unboundedPreceding,Window.currentRow)

**Sales up to the Current Date**

In [9]:
df_spark=df_spark.withColumn('Cumulative_Sales', sum(col('Sales')).over(windowSpec))
df_spark.show(5)

+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+
|Store|DayOfWeek|      Date|Sales|Customers|Open|Promo|StateHoliday|SchoolHoliday|Cumulative_Sales|
+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+
|   28|        2|2013-01-01|    0|        0|   0|    0|           a|            1|               0|
|   28|        3|2013-01-02| 4958|      609|   1|    0|           0|            1|            4958|
|   28|        4|2013-01-03| 5287|      641|   1|    0|           0|            1|           10245|
|   28|        5|2013-01-04| 5481|      623|   1|    0|           0|            1|           15726|
|   28|        6|2013-01-05| 2070|      287|   1|    0|           0|            0|           17796|
+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+
only showing top 5 rows

**Average from first day up to the current row**

In [10]:
df_spark=df_spark.withColumn('Cumulative_Avg_Sales', avg(col('Sales')).over(windowSpec))
df_spark.show(10)

+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+
|Store|DayOfWeek|      Date|Sales|Customers|Open|Promo|StateHoliday|SchoolHoliday|Cumulative_Sales|Cumulative_Avg_Sales|
+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+
|   28|        2|2013-01-01|    0|        0|   0|    0|           a|            1|               0|                 0.0|
|   28|        3|2013-01-02| 4958|      609|   1|    0|           0|            1|            4958|              2479.0|
|   28|        4|2013-01-03| 5287|      641|   1|    0|           0|            1|           10245|              3415.0|
|   28|        5|2013-01-04| 5481|      623|   1|    0|           0|            1|           15726|              3931.5|
|   28|        6|2013-01-05| 2070|      287|   1|    0|           0|            0|           17796|              3559.2|
|   28|        7|2013-01-06|    0|        0|   0|    0|           a|            0|           17796|              2966.0|
|   28|        1|2013-01-07|10126|      989|   1|    1|           0|            0|           27922|  3988.8571428571427|
|   28|        2|2013-01-08| 7892|      775|   1|    1|           0|            0|           35814|             4476.75|
|   28|        3|2013-01-09| 6632|      655|   1|    1|           0|            0|           42446|   4716.222222222223|
|   28|        4|2013-01-10| 6179|      678|   1|    1|           0|            0|           48625|              4862.5|
+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+
only showing top 10 rows

**Cumulative Count**

In [11]:
df_spark=df_spark.withColumn('Days_Since_Start', count(col('Sales')).over(windowSpec))
df_spark.show(10)

+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+----------------+
|Store|DayOfWeek|      Date|Sales|Customers|Open|Promo|StateHoliday|SchoolHoliday|Cumulative_Sales|Cumulative_Avg_Sales|Days_Since_Start|
+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+----------------+
|   28|        2|2013-01-01|    0|        0|   0|    0|           a|            1|               0|                 0.0|               1|
|   28|        3|2013-01-02| 4958|      609|   1|    0|           0|            1|            4958|              2479.0|               2|
|   28|        4|2013-01-03| 5287|      641|   1|    0|           0|            1|           10245|              3415.0|               3|
|   28|        5|2013-01-04| 5481|      623|   1|    0|           0|            1|           15726|              3931.5|               4|
|   28|        6|2013-01-05| 2070|      287|   1|    0|           0|            0|           17796|              3559.2|               5|
|   28|        7|2013-01-06|    0|        0|   0|    0|           a|            0|           17796|              2966.0|               6|
|   28|        1|2013-01-07|10126|      989|   1|    1|           0|            0|           27922|  3988.8571428571427|               7|
|   28|        2|2013-01-08| 7892|      775|   1|    1|           0|            0|           35814|             4476.75|               8|
|   28|        3|2013-01-09| 6632|      655|   1|    1|           0|            0|           42446|   4716.222222222223|               9|
|   28|        4|2013-01-10| 6179|      678|   1|    1|           0|            0|           48625|              4862.5|              10|
+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+----------------+
only showing top 10 rows

**Cumulative Growth Percentage**

In [17]:
df_spark=df_spark.withColumn('First_Day_Sales', first(col('Sales')).over(windowSpec)).withColumn('Cumulative_Growth_Percent', ((col('Cumulative_Sales') - col('First_Day_Sales'))/col('First_Day_Sales'))*lit(100))
df_spark.show(5)

+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+----------------+---------------+-------------------------+
|Store|DayOfWeek|      Date|Sales|Customers|Open|Promo|StateHoliday|SchoolHoliday|Cumulative_Sales|Cumulative_Avg_Sales|Days_Since_Start|First_Day_Sales|Cumulative_Growth_Percent|
+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+----------------+---------------+-------------------------+
|   28|        2|2013-01-01|    0|        0|   0|    0|           a|            1|               0|                 0.0|               1|              0|                     NULL|
|   28|        3|2013-01-02| 4958|      609|   1|    0|           0|            1|            4958|              2479.0|               2|              0|                     NULL|
|   28|        4|2013-01-03| 5287|      641|   1|    0|           0|            1|           10245|              3415.0|               3|              0|                     NULL|
|   28|        5|2013-01-04| 5481|      623|   1|    0|           0|            1|           15726|              3931.5|               4|              0|                     NULL|
|   28|        6|2013-01-05| 2070|      287|   1|    0|           0|            0|           17796|              3559.2|               5|              0|                     NULL|
+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+----------------+---------------+-------------------------+
only showing top 5 rows

In [19]:
df_spark=df_spark.withColumn('Non_Zero_Sales', when(col('Sales')>0,col('Sales')))
df_spark.show(10)

+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+----------------+---------------+-------------------------+--------------+
|Store|DayOfWeek|      Date|Sales|Customers|Open|Promo|StateHoliday|SchoolHoliday|Cumulative_Sales|Cumulative_Avg_Sales|Days_Since_Start|First_Day_Sales|Cumulative_Growth_Percent|Non_Zero_Sales|
+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+----------------+---------------+-------------------------+--------------+
|   28|        2|2013-01-01|    0|        0|   0|    0|           a|            1|               0|                 0.0|               1|              0|                     NULL|          NULL|
|   28|        3|2013-01-02| 4958|      609|   1|    0|           0|            1|            4958|              2479.0|               2|              0|                     NULL|          4958|
|   28|        4|2013-01-03| 5287|      641|   1|    0|           0|            1|           10245|              3415.0|               3|              0|                     NULL|          5287|
|   28|        5|2013-01-04| 5481|      623|   1|    0|           0|            1|           15726|              3931.5|               4|              0|                     NULL|          5481|
|   28|        6|2013-01-05| 2070|      287|   1|    0|           0|            0|           17796|              3559.2|               5|              0|                     NULL|          2070|
|   28|        7|2013-01-06|    0|        0|   0|    0|           a|            0|           17796|              2966.0|               6|              0|                     NULL|          NULL|
|   28|        1|2013-01-07|10126|      989|   1|    1|           0|            0|           27922|  3988.8571428571427|               7|              0|                     NULL|         10126|
|   28|        2|2013-01-08| 7892|      775|   1|    1|           0|            0|           35814|             4476.75|               8|              0|                     NULL|          7892|
|   28|        3|2013-01-09| 6632|      655|   1|    1|           0|            0|           42446|   4716.222222222223|               9|              0|                     NULL|          6632|
|   28|        4|2013-01-10| 6179|      678|   1|    1|           0|            0|           48625|              4862.5|              10|              0|                     NULL|          6179|
+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+----------------+---------------+-------------------------+--------------+
only showing top 10 rows

In [24]:
df_spark=df_spark.withColumn('First_Non_Zero_Sales', first('Non_Zero_Sales', ignorenulls=True).over(windowSpec))
df_spark.show(10)

+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+----------------+---------------+-------------------------+--------------+--------------------+
|Store|DayOfWeek|      Date|Sales|Customers|Open|Promo|StateHoliday|SchoolHoliday|Cumulative_Sales|Cumulative_Avg_Sales|Days_Since_Start|First_Day_Sales|Cumulative_Growth_Percent|Non_Zero_Sales|First_Non_Zero_Sales|
+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+----------------+---------------+-------------------------+--------------+--------------------+
|   28|        2|2013-01-01|    0|        0|   0|    0|           a|            1|               0|                 0.0|               1|              0|                     NULL|          NULL|                NULL|
|   28|        3|2013-01-02| 4958|      609|   1|    0|           0|            1|            4958|              2479.0|               2|              0|                     NULL|          4958|                4958|
|   28|        4|2013-01-03| 5287|      641|   1|    0|           0|            1|           10245|              3415.0|               3|              0|                     NULL|          5287|                4958|
|   28|        5|2013-01-04| 5481|      623|   1|    0|           0|            1|           15726|              3931.5|               4|              0|                     NULL|          5481|                4958|
|   28|        6|2013-01-05| 2070|      287|   1|    0|           0|            0|           17796|              3559.2|               5|              0|                     NULL|          2070|                4958|
|   28|        7|2013-01-06|    0|        0|   0|    0|           a|            0|           17796|              2966.0|               6|              0|                     NULL|          NULL|                4958|
|   28|        1|2013-01-07|10126|      989|   1|    1|           0|            0|           27922|  3988.8571428571427|               7|              0|                     NULL|         10126|                4958|
|   28|        2|2013-01-08| 7892|      775|   1|    1|           0|            0|           35814|             4476.75|               8|              0|                     NULL|          7892|                4958|
|   28|        3|2013-01-09| 6632|      655|   1|    1|           0|            0|           42446|   4716.222222222223|               9|              0|                     NULL|          6632|                4958|
|   28|        4|2013-01-10| 6179|      678|   1|    1|           0|            0|           48625|              4862.5|              10|              0|                     NULL|          6179|                4958|
+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+----------------+---------------+-------------------------+--------------+--------------------+
only showing top 10 rows

In [25]:
df_spark=df_spark.withColumn('Cumulative_Non_Zero_Growth_Percent', ((col('Cumulative_Sales') - col('First_Non_Zero_Sales'))/col('First_Non_Zero_Sales'))*lit(100))
df_spark.show(10)

+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+----------------+---------------+-------------------------+--------------+--------------------+----------------------------------+
|Store|DayOfWeek|      Date|Sales|Customers|Open|Promo|StateHoliday|SchoolHoliday|Cumulative_Sales|Cumulative_Avg_Sales|Days_Since_Start|First_Day_Sales|Cumulative_Growth_Percent|Non_Zero_Sales|First_Non_Zero_Sales|Cumulative_Non_Zero_Growth_Percent|
+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+----------------+---------------+-------------------------+--------------+--------------------+----------------------------------+
|   28|        2|2013-01-01|    0|        0|   0|    0|           a|            1|               0|                 0.0|               1|              0|                     NULL|          NULL|                NULL|                              NULL|
|   28|        3|2013-01-02| 4958|      609|   1|    0|           0|            1|            4958|              2479.0|               2|              0|                     NULL|          4958|                4958|                               0.0|
|   28|        4|2013-01-03| 5287|      641|   1|    0|           0|            1|           10245|              3415.0|               3|              0|                     NULL|          5287|                4958|                106.63574021782978|
|   28|        5|2013-01-04| 5481|      623|   1|    0|           0|            1|           15726|              3931.5|               4|              0|                     NULL|          5481|                4958|                217.18434852763212|
|   28|        6|2013-01-05| 2070|      287|   1|    0|           0|            0|           17796|              3559.2|               5|              0|                     NULL|          2070|                4958|                 258.9350544574425|
|   28|        7|2013-01-06|    0|        0|   0|    0|           a|            0|           17796|              2966.0|               6|              0|                     NULL|          NULL|                4958|                 258.9350544574425|
|   28|        1|2013-01-07|10126|      989|   1|    1|           0|            0|           27922|  3988.8571428571427|               7|              0|                     NULL|         10126|                4958|                 463.1706333198871|
|   28|        2|2013-01-08| 7892|      775|   1|    1|           0|            0|           35814|             4476.75|               8|              0|                     NULL|          7892|                4958|                 622.3477208551835|
|   28|        3|2013-01-09| 6632|      655|   1|    1|           0|            0|           42446|   4716.222222222223|               9|              0|                     NULL|          6632|                4958|                 756.1113352158128|
|   28|        4|2013-01-10| 6179|      678|   1|    1|           0|            0|           48625|              4862.5|              10|              0|                     NULL|          6179|                4958|                 880.7382008874546|
+-----+---------+----------+-----+---------+----+-----+------------+-------------+----------------+--------------------+----------------+---------------+-------------------------+--------------+--------------------+----------------------------------+
only showing top 10 rows